{% extends 'base.html.twig' %}
{% block body %}
    <h1>Editar Usuario ...!</h1>
    <hr>
    <p> Identificador : {{ id }}</p>
    <p> Nombre : {{ nombre }}</p>
    <p> Teléfono : {{ telefono }}</p>
{% endblock %}